# ---- Android / Gradle ----
*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore
!debug.keystore
*.log

# Android module build outputs
app/build/
build/
/.kotlin/sessions/kotlin-compiler-7934165573623325276.salive
