# ---- Android / Gradle ----
*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore
!debug.keystore
*.log

# Android module build outputs
app/build/
build/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
